.contenedor {
}

.creditos {
    -unity-text-align: upper-center;
    align-self: center;
    align-items: flex-end;
    justify-content: flex-start;
    width: 80%;
}

.boton {
    width: 100px;
    height: 100px;
    align-self: flex-end;
    justify-content: flex-start;
    align-items: auto;
    flex-direction: row;
}

.titulo {
    width: 100%;
    align-self: flex-start;
    -unity-text-align: upper-center;
}

.texto {
}
